/**
* @author Robin Duda
*
* Polymer custom elements styling.
**/

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {

}

paper-input {
    margin-left: 16px;
    margin-right: 16px;
}

paper-button {
    margin: 0 auto auto;
    width: 100%;
}

iron-icon {
    color: var(--text-primary-color);
    cursor: pointer;
}

paper-material {
    background-color: #161616;
    opacity: 0.92;
    border-radius: 2px;
}

iron-icon:hover {
    color: var(--accent-color);
}

paper-tooltip {
    z-index: 999;
    --paper-tooltip-opacity: 1.0;
    --paper-tooltip-background: black;
    --paper-tooltip-animation: {
        animation-timing-function: ease;
    }
}

header-toolbar, footer-template {
    z-index: 10;
}

paper-toolbar {
    background-color: #000000;
}

.footer {
    background-color: #000000;
}

.interface-box {
    border: 1px solid var(--game-theme-opaque);
    border-radius: 2px;
    background-color: #161616;
    opacity: 0.97;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.center-dialog {
    pointer-events: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

hr {
    border-color: var(--game-theme);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.select {
    cursor: pointer;
}

.tooltip-text {
    font-size: 14px;
}

.center-box {
    position: relative;
    margin: auto;
}

[hidden] { display: none }

paper-toast {
    text-align: center;
}

.dialog-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    position: absolute;
    display: none;
    pointer-events: all;
    z-index: 900;
}

.dialog-overlay {
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: black;
    opacity: 0.64;
    animation: overlay-fadein 1.2s ease 1;
    pointer-events: none;
}

@keyframes overlay-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.64;
    }
}

.dialog-center {
    pointer-events: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    /* super important property that fixes a 1px jump on hover. */
    backface-visibility: hidden;
}